.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 19px;
  display: flex;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  margin: auto;
  padding: 36px;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  max-width: 430px;
  display: flex;
  flex-direction: column;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -45px;
  right: -45px;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__title {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  width: 330px;
  height: 23px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__fieldset {
  display: flex;
  flex-direction: column;
  /* margin: 54px 0 48px; */
  margin: 54px 0 15px;
  padding: 0;
  border: none;
  /* gap: 30px; */
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  width: 100%;
}

.modal__input {
  border: none;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.5);
}

.modal__button-save {
  color: #fff;
  background-color: #000;
  /* width: 358px; */
  width: 100%;
  height: 50px;
  align-self: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}

.modal__button-save:hover:not(:disabled) {
  opacity: 80%;
}

.modal__button-confirm {
  margin-top: 38px;
}

.modal__picture_container {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__picture_large {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__picture_title {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

@media screen and (max-width: 620px) {
  .modal__container {
    max-width: 282px;
    padding: 25px 22px;
  }

  .modal__close {
    top: -50px;
    right: 0;
    width: 26px;
    height: 26px;
  }

  .modal__picture_close {
    top: -32px;
    right: -32px;
    width: 30px;
    height: 30px;
  }

  .modal__title {
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
  }

  .modal__fieldset {
    margin: 75px 0 45px;
  }

  .modal__button-save {
    /* max-width: 238px; */
    font-size: 14px;
    line-height: 17px;
  }
}

.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.modal__input-error {
  color: #ff0000;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  opacity: 0;
  max-width: 330px;
  height: 17px;
  margin-bottom: 13px;
  margin-top: 5px;
}

.modal__input-error_active {
  opacity: 1;
}

.modal__button-save_inactive {
  background-color: #ffffff;
  opacity: 20%;
  color: #000;
  cursor: default;
}
